.dropdown-container {
  position: relative;
  .selected-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #000;
    width: 100%;
  }
  .option-container {
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    .option {
      padding: 5px;
      &:hover {
        background-color: grey;
      }
      &:focus {
        outline: auto;
      }
    }
    .selected {
      background-color: grey;
    }
  }
}
