:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.checkboxtree-container {
  text-align: left;
}
.checkboxtree-container .tree-node-container {
  display: flex;
  align-items: center;
}

.checkboxtree-container .tree-node-container span {
  margin: auto 1px;
}